<%= form_for(@link_elem) do |f| %>
  <% if @link_elem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link_elem.errors.count, "error") %> prohibited this link_elem from being saved:</h2>

      <ul>
        <% @link_elem.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Link Name' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.check_box :target, '_blank' %>
    <%= f.label :target, 'Open link in a new window' %>
  </div>

  <%= hidden_field_tag :column_order, @element.column_order %>
  <%= hidden_field_tag :position, @element.position %>
  <%= hidden_field_tag :shortcut, @node.shortcut %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
