<% if @template and @template.template_name == "Home" %>
  <div class="home-banner">
    <h3>Banner</h3>
    <%= 'Home Position One Elements Here' %>
    <%= @elements.elements_for_position(1) %>
  </div>
  <div class="home-column-1">
    <h3>Column 1</h3>
    <%= 'Home Position Two Elements Here' %>
    <%= @elements.elements_for_position(2) %>
  </div>
  <div class="home-column-2">
    <h3>Column 2</h3>
    <%= 'Home Position Three Elements Here' %>
    <%= @elements.elements_for_position(3) %>
  </div>
<% end %>